body{
    background-image: url(/imagenes/Sign\ up\ 5.svg);
    background-position: center;
}
h1{
    color: #1E1E1E;
}
.cuerpo{
    color: white;
    display: flex;
    flex-direction: column;
}

header .navbar{
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.formulario{
    display: flex;
}

form{
    margin: 0 auto;
    width: 400px;
    background: #1E1E1E;
    border-radius: 20px;
}

#opcionesRadio{
    height: 30px;
}


.descripcion input{
    height: 200px;
}

.botones{
    text-align: end;
}

#boton{
    width: 120px;
    height: 30px;
    border-radius: 10px;
    background-color: #FF8298;
    border: 0;
}

.formulario .input{
    border-radius: 10px;
    border-color: #FF8298;
    border-width: 2px;
}