body{
    background: white;
}
body::-webkit-scrollbar{
    width: 0px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    
    background: #0067B0;
}
img{
    height: 100px;
}
/*texto de presentación*/
section{
    display: flex;
}

h3{
    color: black;
}
.cuerpo footer{
    color: white;
    margin: 0 auto;
    width: 900px;
}

div .card{
    background: #01A4C8;
    border-radius: 20px;
    width: 900px;
    height: 450px;
    overflow: auto;
}
.card::-webkit-scrollbar{
    width: 0px;
}