body{
    background-image: url(/imagenes/Desktop\ -\ 3.jpg);
}
body::-webkit-scrollbar{
    width: 0px;
}
h1{
    color: white;
}
img{
    height: 100px;
}
/*texto de presentación*/
section{
    display: flex;
}
.cuerpo footer{
    color: white;
    margin: 0 auto;
    width: 900px;
}

div .card{
    background: #D9D9D9;
    border-radius: 20px;
    width: 900px;
}